services:
  seed:
    build:
      context: ./seed
      dockerfile: Dockerfile
    container_name: seed
    ports:
      - "9000:9000"
    networks:
      - kvnet

  kv-node:
    build:
      context: ./kv-store
      dockerfile: Dockerfile
    depends_on:
      - seed
    networks:
      - kvnet
    ports:
      - "8000-8999:8080"
    command: ["/app/kv-node", "/app/config.yaml"]

networks:
  kvnet:
    driver: bridge
